@import "theme"; // 절대경로 설정 시, 예: @import 'theme';

.BoxTabGroup {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    min-height: 32px;
    background-color: #f4f4f4;
    border-radius: 6px;

    padding: 4px 10px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리에서 스크롤바 숨김 */
    }
}
