@import "theme"; // 절대경로 설정 시, 예: @import "theme";

.confirmModalCloseCancel {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
