.PublicPageTemplate {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 100%;
    max-width: 640px;
    height: 100%;

    scrollbar-width: none;

    background-color: var(--background-page);
    color: var(--text-black);
}
