@import "theme"; // 절대경로 설정 시, 예: @import "theme";

// 기본 스타일
.colorTabGroupItem {
    width: 35px;
    height: 35px;
    border-radius: var(--borderRadius-circle);
    border: none;
    box-sizing: border-box;

    &.Active {
        border: 5px solid var(--color-primary);
    }

    &.Violet {
        background-color: #855cf8;
    }
    &.Orange {
        background-color: #f26b2c;
    }
    &.Green {
        background-color: #2daf2d;
    }
    &.Blue {
        background-color: #455a64;
    }
    &.Pink {
        background-color: #dd408f;
    }
}
