.TimerModalTrigger {
    width: 40%;
    box-shadow: var(--boxShadow);
    background-color: var(--background-box);
    border-radius: var(--borderRadius-sm);

    display: flex;
    justify-content: center;
}
