@import "theme"; // 절대경로 설정 시, 예: @import 'theme';

.chipTabGroup {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    min-height: 32px;

    &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리에서 스크롤바 숨김 */
    }
}
