@import "theme"; // _theme.scss가 절대경로에 있다면, 예: @import "theme";

.bottomBox {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: var(--background-box);
    border-top-left-radius: var(--borderRadius-lg);
    border-top-right-radius: var(--borderRadius-lg);
    box-shadow: var(--boxShadow);
}
