@import "theme"; // 절대경로 설정 시, 예: @import "theme";

.lineTabGroupItem {
    width: 100%;
    font-size: var(--fontSize-md);
    font-weight: var(--fontWeight-regular);
    border: none;
    padding: 15px 0;
    color: var(--color-text-black);
    text-align: center;
    border-bottom: 1px solid transparent;
    background: none;
}

.lineTabGroupItemActive {
    font-weight: var(--fontWeight-bold);
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}
